<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h5>Duid voor elk woord aan of het mannelijk of vrouwelijk is</h5>
            <br>
            <p>{{currentWord.word_fr}} </p>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <button type="button" #male value="m" class="btn btn-primary btn-lg" (click)="checkIfGenderCorrect(male.value)">Mannelijk</button> 
        </div>
        <div class="col-md-6">
            <button type="button" #female value="f" class="btn btn-danger btn-lg" (click)="checkIfGenderCorrect(female.value)">Vrouwelijk</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h6>
                Score:
                <span>{{score}}</span>
            </h6>
            <div class="progress">
                <div class="progress-bar" [ngStyle]="{'width': progress + '%'}" ></div>
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <img class="imgDisplay"*ngIf="showRight" src="/assets/right.png" alt="right answer">
            <img class="imgDisplay" *ngIf="showWrong" src="/assets/wrong.png" alt="wrong answer">
        </div>
    </div>
</div>
