
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welkom</h2>
        </div>
        <br>
        <div class="col-md-12">
            <nav>
                <a routerLink="/home" routerLinkActive="active">Home</a> <br>
                <a routerLink="/lidwoorden" routerLinkActive="active">Lidwoorden</a> <br>
                <a routerLink="/meerkeuze" routerLinkActive="active">Meerkeuze</a> <br>
                <a routerLink="/woordflitser" routerLinkActive="active">Woordflitser</a> <br>
                <a routerLink="/resultaat" routerLinkActive="active">Resultaat</a> <br>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>