<div class="container text-center">
    <div class="row p-4">
        <div class="col-md-12">
            <h2>Jouw score bedraagt:</h2>
            <h1 class="score">{{roundedScore}}%</h1>
        </div>
    </div>
    <div class="row p-4">
            <div *ngIf="failed">
                <img src="/assets/scoreE.png" alt="failed" class="imageRes">
                <p>Oh, nee! Ontvoert door aliëns? Dit lijkt wel een buitenaardse taal voor jou. Probeer het nog eens!</p>
            </div>
            <div *ngIf="passed">
                <img src="/assets/scoreD.png" alt="bronze medal" class="imageRes">
                <p> Geslaagd! Maar je lijkt nog een beetje de weg kwijt tussen de woorden. Oefen nog wat spelend verder.</p>
            </div>
            <div *ngIf="cumLaude">
                <img src="/assets/scoreC.png" alt="silver medal" class="imageRes">
                <p> Goed gewerkt! Je hebt een topscore gelanceerd!</p>
            </div>
            <div *ngIf="cumMagnaLaude">
                <img src="/assets/scoreB.png" alt="gold medal" class="imageRes">
                <p>Wow! Heel mooie score! Je vliegt als een raket door de woorden.</p>
            </div>
            <div *ngIf="summaCumLaude">
                <img src="/assets/scoreA.png" alt="Frencher than French" class="imageRes">
                <p>Jij bent Franser dan Frans! Plant jouw vlag maar op de wereld aan woorden die je kent!</p>
            </div>
    </div>
    <div class="row p-4 mb-3">
        <div class="col">
            <button class="btn btn-light shadow" (click)="navigateToHome()">Een nieuwe oefening beginnen</button>
        </div>
    </div>
</div>




