<div class="container-fluid text-center p-4">
  <div class="row m-4">
    <div class="col-md-12">
      <h2>Kies een categorie.</h2>
    </div>
  </div>
</div>
<div class="container-fluid text-center p-4 mb-5">
  <div class="row m-4">
    <div class="col-md-12">
      <div class="btn-group shadow" role="group">
        <input class="btn-check" type="radio" value="1" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="btn btn-light p-0" for="flexRadioDefault1">
          <div class="boxId"><h2 class="text">Id</h2>
          </div>
        </label>
        <input class="btn-check" type="radio" value="2" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="btn btn-light p-0" for="flexRadioDefault2">
          <div class="boxFamily"><h2 class="text">Familie</h2>
          </div>
        </label>
        <input class="btn-check" type="radio" value="3" name="flexRadioDefault" id="flexRadioDefault3">
        <label class="btn btn-light p-0" for="flexRadioDefault3">
          <div class="boxClothing"><h2 class="text">Kledij</h2>
          </div>
        </label>
        <input class="btn-check" type="radio" value="4" name="flexRadioDefault" id="flexRadioDefault4">
        <label class="btn btn-light p-0 m-0" for="flexRadioDefault4">
            <div class="boxBody"><h2 class="text">Lichaam</h2>
            </div>
        </label>
        <input class="btn-check" type="radio" value="5" name="flexRadioDefault" id="flexRadioDefault5">
        <label class="btn btn-light p-0" for="flexRadioDefault5">
          <div class="boxHome"><h2 class="text">Thuis</h2>
          </div>
        </label>
        <input class="btn-check" type="radio" value="6" name="flexRadioDefault" id="flexRadioDefault6">
        <label class="btn btn-light p-0" for="flexRadioDefault6">
          <div class="boxLeisure"><h2 class="text">Ontspanning</h2>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center p-4">
  <div class="row m-4">
    <div class="col-md-12">
      <h2>Lees hier de woorden al eens na in de woordenlijst.</h2>
    </div>
  </div>
</div>

<div class="container-fluid text-center p-4 mb-5">
  <div class="row m-4">
    <div class="col-md-12">
      <div class="shadow btn-group">
        <button #vocabulaire class="btn btn-light" value="vocabulaire"
          (click)="startGame(vocabulaire.value)">Woordenlijst</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center p-4">
  <div class="row m-4">
    <div class="col-md-12">
      <h2>Kies een spel en oefen de woorden spelenderwijs.</h2>
    </div>
  </div>
</div>

<div class="container-fluid text-center p-4 mb-5">
  <div class="row m-4">
    <div class="col-md-12">
      <div class="shadow btn-group">
        <button #lidwoorden class="btn btn-light" value="lidwoorden"
          (click)="startGame(lidwoorden.value)">Lidwoordentrainer</button>
        <button #meerkeuze class="btn btn-light" value="meerkeuze"
          (click)="startGame(meerkeuze.value)">Meerkeuze</button>
        <button #woordflitser class="btn btn-light" value="woordflitser"
          (click)="startGame(woordflitser.value)">Woordflitser</button>
      </div>
    </div>
  </div>
</div>