.container-fluid.panel{
    background-color: #FFFFFF;
}

.boxId{
    display: block;
    width:8rem;
    height:5rem;
    background:url('/assets/personalInformationButton.png');
    background-size: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}
    
.text{
    display:none;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
  
}
.boxId:hover{
    background:#CCC;
}
.boxId:hover .text{
    display:block;
}

.boxFamily{
    display: block;
    width:8rem;
    height:5rem;
    background:url('/assets/familyButton.png');
    background-size: cover;
}
    
.boxFamily:hover{
    background:#CCC;
}
.boxFamily:hover .text{
    display:block;
}

.boxClothing{
    display: block;
    width:8rem;
    height:5rem;
    background:url('/assets/clothingButton.png');
    background-size: cover;
}
    
.boxClothing:hover{
    background:#CCC;
}
.boxClothing:hover .text{
    display:block;
}

.boxBody{
    display: block;
    width:8rem;
    height:5rem;
    background:url('/assets/bodyButton.png');
    background-size: cover;
}
    
.boxBody:hover{
    background:#CCC;
}
.boxBody:hover .text{
    display:block;
}

.boxHome{
    display: block;
    width:8rem;
    height:5rem;
    background:url('/assets/homeButton.png');
    background-size: cover;
}
    
.boxHome:hover{
    background:#CCC;
}
.boxHome:hover .text{
    display:block;
}

.boxLeisure{
    display: block;
    width:8rem;
    height:5rem;
    background:url('/assets/leisureButton.png');
    background-size: cover;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;


}
    
.boxLeisure:hover{
    background:#CCC;
}
.boxLeisure:hover .text{
    display:block;
}

.btn-group {
    display: box;
    justify-content: center;
  }

  @media (max-width: 500px) {
    .btn-group {
      flex-direction: column;
    }
    .boxLeisure{
        border-top-right-radius: 0rem;
    }

  }